input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	cursor: pointer;
	font-size: 1em;
}

/* ==================================================================== */
/* CHECKBOX TYPE 2 ---------------------------------------------------- */
/* ==================================================================== */

input[id^="checkbox-2-"] + label {
	background-color: #F37900;
	padding: 18px 20px 18px 23px;
	box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
	border-radius: 1000px;
	display: inline-block;
	position: relative;
	border-top: 1px solid #ECA14F;
	margin-right: 30px;
	color: #FFF;
	font-size: 1.7em;
	width: 100%;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #552B09;
}

[id^="checkbox-2-"] + label:hover  {
	border-top: 1px solid #FC8C1E;
	background: #FC8C1E;
	box-shadow: inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
}

[id^="checkbox-2-"] + label:active  {
	border-top: none;
	background: #FC8C1E;
	padding: 19px 20px 18px 23px;
	box-shadow: inset 0 3px 8px rgba(129, 69, 13, 0.3), inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);	
}

[id^="checkbox-2-"] + label:after {
	content: ' ';
	border-radius: 100px;
	width: 32px;
	position: absolute;
	top: 12px;
	right: 12px;
	box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
	height: 32px;
}

[id^="checkbox-2-"] + label:before {
	content: ' ';
	border-radius: 100px;
	width: 20px;
	position: absolute;
	top: 18px;
	right: 18px;
	z-index: 999;
	box-shadow: inset 0px 16px 40px #FFF;
	height: 20px;
	display: none;
}

[id^="checkbox-2-"]:checked + label:before {
	display: block;
}